@font-face {
  font-family: "iconfont"; /* Project id 3236443 */
  src: url('iconfont.woff2?t=1647171613381') format('woff2'),
       url('iconfont.woff?t=1647171613381') format('woff'),
       url('iconfont.ttf?t=1647171613381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-chart-bar:before {
  content: "\e667";
}

.icon-attachment:before {
  content: "\e668";
}

.icon-customer-service:before {
  content: "\e66a";
}

.icon-explain:before {
  content: "\e66e";
}

.icon-home:before {
  content: "\e674";
}

.icon-menu:before {
  content: "\e677";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-close-bold:before {
  content: "\e686";
}

.icon-select-bold:before {
  content: "\e687";
}

.icon-wode:before {
  content: "\e627";
}

.icon-a-9-zuo:before {
  content: "\e8ce";
}

.icon-icon-test:before {
  content: "\e635";
}

.icon-icon-test1:before {
  content: "\e63a";
}

.icon-icon-test2:before {
  content: "\e63b";
}

.icon-icon-test3:before {
  content: "\e63c";
}

.icon-icon-test4:before {
  content: "\e64d";
}

